/* page specific style */

#activity-preview{
  margin-top: 10px;
}

/* materialize specific style */

.top-nav{
  height: 122px;
  background-color: #014568!important;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

/* special for title bar only */
@media only screen and (max-width: 1096px) {
  .top-nav{
    height: 61px;
    background-color: #014568!important;
  }

  nav.top-nav a.page-title {
      line-height: 61px!important;
      font-size: 24px!important;
  }
}

@media only screen and (max-width: 993px){
  #post-distribution-graph-tabs{
    margin-top: 20px;
  }
}

/* Jquery UI specific style */

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
	border-top-left-radius:10px!important;
}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
	border-top-right-radius:10px!important;
}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
	border-bottom-left-radius:10px!important;
}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
	border-bottom-right-radius:10px!important;
}

.ui-widget-header {
  background: #014568 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50%!important;
}
